<ion-header>
  <ion-navbar>

    <ion-title>{{currentSituation.Situation}} situation</ion-title>

  </ion-navbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-buttons>
            <button (click)="presentPopover1($event)"><ion-icon name="image"></ion-icon>Environments</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="presentPopover2($event)"><ion-icon name="person"></ion-icon>Persons</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="presentPopover3($event)"><ion-icon name="happy"></ion-icon>Moods</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="presentPopover4($event)"><ion-icon name="football"></ion-icon>Items</button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>




</ion-header>


<ion-content id="page1" cache-view="false" (touchmove)="moveDragOver(item, $event)" (touchend)="moveDrop(item, $event)">


  <div *ngFor="let item of sceneItems" [class]="item.category" (touchstart)="moveStart(item, $event)" (dblclick)="makeActive($event)" [style.top]="item.y + 'px'" [style.left]="item.x + 'px'">

    <ion-icon *ngIf="isActive === true" (click)="removeItemFromScene(item)" name="close" role="img" class="ion-ios-close item-icon" aria-label="close" ng-reflect-name="close" danger [id]="item.id"></ion-icon>

    <img [src]="item.imgUrl" [id]="item.id" [class]="item.category" />

  </div>



  <!-- (mousedown)="startInterval()" (mouseup)="makeUnactive()"-->


</ion-content>
