page-about {

    .scroll-content {
        background: url(../assets/img/various/trees.jpg) no-repeat center center;
        background-size: cover;
    }

    ion-card {
        background: rgba(255, 255, 255, 0.8)!important;
    }
}
