// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

.menuItems img {
  position: inherit;
  margin: 15px;
  float: left;
}

.person {
  position: inherit;
  max-width: 40px;
  height: 120px;
}

.mood {
  position: inherit;
  height: 50px;
  max-width: 50px;
}

.menuItems .background {
  // max-width: 50px;
  height: 120px;
}

ion-page.show-page scroll-content {
  overflow: hidden;
}

.popover-content {
  width: 25%;
}
::-webkit-scrollbar, ::-moz-scrollbars-none {
    display: none;
    width: 0;
}
