// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@font-face {
    font-family: 'GothamBook';
    src: url('../../fonts/Gotham-Book.ttf');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../../fonts/Gotham-Light.ttf');
}

body {
  font-family: GothamBook;
}

ion-page.show-page scroll-content {
    //overflow: auto!important;
}

@import "../pages/about/about.scss";
@import "../pages/enviroments/enviroments.scss";
@import "../pages/home/home.scss";
@import "../pages/introduction/introduction.scss";
@import "../pages/mainframe/mainframe.scss";
@import "../pages/patients/patients.scss";


.menuItems img {
  position: inherit;
  margin: 15px;
  float: left;
}


.menuItems .background {
  // max-width: 50px;
  height: 120px;
}

ion-page.show-page scroll-content {
  overflow: hidden;
}

::-webkit-scrollbar, ::-moz-scrollbars-none {
    display: none;
    width: 0;
}
