.enviroments {
}

.popover-content {
  width: 80%;
  top: 25%!important;
  left: 10%!important;
  text-align: center;
  .popoverImg {
    width: 25%;
    padding: 10px;
    float: left;
  }
}

.card-background-page {

  ion-card {
    padding: 1.8em;
    position: relative;

    img {
      // width: 80px;
      width: 250px;
      margin: 0 auto 0.5em;
    }
  }

  .card-title {
    // position: absolute;
    // top: 30%;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    border-bottom: 0!important;
  }

}

.toggleBackgrounds{
  background-color: white;
  h1, p {
    text-align: center;
    font-size: 20px;
  }
}

ion-page.contacts-page scroll-content {
  overflow: auto!important;
}
