<ion-header>

  <img id="logo" class="title-image" src="assets/img/iconslogos/logo.svg" />
  <img id="bubbles" class="title-image" src="assets/img/iconslogos/bubbles.png" />

  <ion-navbar>

    <ion-buttons end>
      <button ion-button (click)="toggleBackgrounds()">
        Add Environment
        <ion-icon name="add" padding ></ion-icon>
      </button>
      <!-- <button (click)="addEnvironmentPopup($event)"><ion-icon name="add"></ion-icon></button> -->
      <!-- <button (click)="addsituation(situation)"><ion-icon name="add"></ion-icon></button> -->
    </ion-buttons>

    <ion-title>{{currentPatient.name}} Enviroments</ion-title>

  </ion-navbar>

</ion-header>



<ion-content overflow-scroll="true" class="card-background-page" (click)="closePopup()">



  <ion-grid *ngIf="showBackgrounds==true" class="toggleBackgrounds">

    <h1 padding class="card-title">Add new environment</h1>
    <ion-row wrap>

      <ion-col width-25 *ngFor="let popItem of popoverItems">

        <img padding [src]="popItem.imgUrl" (click)="addEnvironment(popItem)" />
        <p>{{popItem.name}}</p>

      </ion-col>

    </ion-row>

  </ion-grid>


  <ion-grid padding>

    <ion-row wrap>

      <ion-col width-50 *ngFor="let item of environmentList">
        <ion-card>

          <img [src]="item.imgUrl" (click)="openPage(item)" />

          <ion-list>

            <ion-item-sliding>

              <ion-item class="card-title">{{item.name}}</ion-item>

              <ion-item-options>

                <button ion-button padding (click)="deletesituation(item)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                </button>

              </ion-item-options>

            </ion-item-sliding>

          </ion-list>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
