<ion-header>

  <div class="branding">
    <img id="logo" class="title-image" src="assets/img/iconslogos/logo.svg" />
    <img id="bubbles" class="title-image" src="assets/img/iconslogos/bubbles.png" />
  </div>

  <ion-navbar>

    <ion-title>{{currentPatient.name}}'s Environments</ion-title>

    <ion-buttons right>
      <button ion-button padding (click)="togglePopup()">
        Add environment
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-grid *ngIf="isPopup" [ngClass]="animationClasses" [@slowFading]>

    <h1 padding class="card-title">Add new environment</h1>
    <ion-row wrap>
      <ion-col col-3 *ngFor="let popItem of db.C.BACKGROUNDTHUMBS; let i = index;">

        <img padding [src]="'assets/img/' + popItem.category + popItem.imgUrl" (click)="addEnvironment(popItem, i)" />
        <p ion-text color="IDAGrey">{{popItem.name}}</p>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>



<ion-content overflow-scroll="true" class="card-background-page" (click)="closePopup()">
<!-- {{ db.C.environments}} -->
  <ion-grid padding>

    <ion-row wrap>

      <ion-col col-4 *ngFor="let env of db.environments; let i = index;">
        <ion-card>

          <!-- FIXME: another place for delete button -->
          <ion-icon name="close-circle" (click)="deleteEnvironment(env, i)" color="danger"></ion-icon>
          <img [src]="'assets/img/background'+ env.imgUrl" (click)="openPage(env, patientid, i)" />

          <ion-list>

              <ion-item class="card-title">
                {{env.name}}
                <ion-icon name="create" item-end (click)="editEnvironment(env)" color="light"></ion-icon>
              </ion-item>

          </ion-list>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
