// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$gotham-font-path: $font-path !default;

@font-face {
  font-family: "Gotham Book";
  font-style: normal;
  src: local("Gotham Book"),
       local("Gotham-Book"),
       url("#{$gotham-font-path}/Gotham-Book.woff") format("woff"),
       url("#{$gotham-font-path}/Gotham-Book.woff2") format("woff2"),
       url("#{$gotham-font-path}/Gotham-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Light";
  font-style: normal;
  src: local("Gotham Light"),
       local("Gotham-Light"),
       url("#{$gotham-font-path}/Gotham-Light.ttf") format("truetype");
}


div.branding {
  display: flex;
  width: 100%;
  justify-content: space-between;

  img#logo {
    // float: left;
    height: 34px;
    margin: 20px;
  }
  img#bubbles {
    // float: right;
    height: 38px;
  }

  ion-title {
    text-transform: uppercase;
    font-size: 28px;

    // ion-buttons span.button-inner {
    //   text-transform: none!important;
    // }
  }
}

p {
  font-family: "Gotham Light";
}

.alert-md .alert-input-group, .alert-md .alert-message {
    padding: 0 24px 0px;
}

ion-label {
  white-space: initial;
}
