<ion-header>

  <div class="branding">
    <img id="logo" class="title-image" src="assets/img/iconslogos/logo.svg" />
    <img id="bubbles" class="title-image" src="assets/img/iconslogos/bubbles.png" />
  </div>

  <ion-navbar>

    <ion-title>
      Profiles
    </ion-title>

    <ion-buttons right>

      <button ion-button large padding color="IDATurquoise"
        (click)="openAddPatienModal()">
        Add profile
      </button>

    </ion-buttons>

  </ion-navbar>

  <ion-searchbar
    [(ngModel)]="searchText"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="searchPatients()">
  </ion-searchbar>

</ion-header>


<ion-content no-bounce>

  <ion-grid>
    <ion-row center>
      <ion-col offset-2 col-8>

        <ion-buttons>

          <button ion-button full color="IDATurquoise"
            [hidden]="patients.length > 0 || searchText !== undefined"
            (click)="openAddPatienModal()">
            ADD PROFILE
            <ion-icon name="add" padding></ion-icon>
          </button>

        </ion-buttons>


        <ion-buttons right class="orderBnt"
          [hidden]="patients.length < 2">

          <button ion-button padding small outline color="IDATurquoise"
            (click)="sortBy('name')">
            Order by name
          </button>

          <button ion-button padding small outline color="IDATurquoise"
            (click)="sortBy('-id')">
            Order by date modified
          </button>

        </ion-buttons>


        <ion-list>

            <ion-item *ngFor="let patient of patients; let i = index;" (click)="openPage(patient)">

              <ion-thumbnail item-start>
                <img [src]="'assets/img/person' + patient.avatar" >
              </ion-thumbnail>

              <div>
                <h1>{{ patient.name | titlecase }}</h1>
                <h2>Created:  {{ patient.id | date:'mediumDate' }}</h2>
              </div>

              <ion-icon *ngIf="isOptionsOpen && patient === selectedPatient" padding name="create" item-end (click)="openEditPatientModal(patient, $event)" color="light" [@slowFading]></ion-icon>
              <ion-icon *ngIf="isOptionsOpen && patient === selectedPatient" padding name="trash" item-end (click)="deletePatient(patient, i, $event)" color="danger" [@slowFading]></ion-icon>

              <ion-icon padding name="more" item-end (click)="openOptions(patient, $event)"></ion-icon>

            </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
