<ion-header>

  <div class="branding">
    <img id="logo" class="title-image" src="assets/img/iconslogos/logo.svg" />
    <img id="bubbles" class="title-image" src="assets/img/iconslogos/bubbles.png" />
  </div>

  <ion-navbar>

    <ion-title>
      Profiles
    </ion-title>

    <ion-buttons right>
      <button ion-button padding (click)="openAddPatienModal()">
        Add profile
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row center>
      <ion-col offset-2 col-8>

        <button
          [hidden]="patients !== []"
          ion-button
          full
          color="light"
          large
          padding
          (click)="openAddPatienModal()"
          >
          ADD PROFILE
          <ion-icon name="add" padding></ion-icon>
        </button>

        <!-- <ion-searchbar (ionInput)="searchPatients($event)"></ion-searchbar> -->

        <ion-buttons right>
          <button ion-button padding (click)="sortBy('name')">
            Order by name
          </button>
          <button ion-button padding (click)="sortBy('id')">
            Order by date modified
          </button>
        </ion-buttons>


        <ion-list>

            <ion-item *ngFor="let patient of db.patients; let i = index;">
              <ion-thumbnail item-start>
                <img [src]="'assets/img/person' + patient.avatar" (click)="openPage(patient)">
              </ion-thumbnail>
              <h2 (click)="openPage(patient)">{{ patient.name }}</h2>
              <p>{{ patient.id | date: 'yMMMd'}}</p>

              <ion-icon *ngIf="isOptionsOpen && patient === selected" padding name="create" item-end (click)="openEditPatientModal(patient)" color="light" [@slowFading]></ion-icon>
              <ion-icon *ngIf="isOptionsOpen && patient === selected" padding name="trash" item-end (click)="deletePatient(patient)" color="danger" [@slowFading]></ion-icon>

              <ion-icon padding name="more" item-end (click)="openOptions(patient)"></ion-icon>

            </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
