page-getting-started {
    
    .scroll-content {
        background: url(../assets/img/various/trees.jpg) no-repeat right bottom;
        background-size: cover;
    }

    img.animated {
        width: 70%;
        display: block;
        margin: 5% auto 0;
    }
    
    h1 {
        font-size: 5rem;
    }

    ion-buttons button {
        font-size: 3rem;
    }
}
