page-mainframe {

  p.action {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
  }

  button.toolbarBtn {
    background-color: #0098AA!important;

    span {
      text-transform: none;
    }
  }

  button.active-btn {
    background-color: #e63e4d!important;
    transition: 0.2s;
  }

  ion-toolbar .toolbar-background {
    background-color: #fff;
    border-top: 0;
    border-bottom: 1px solid transparent !important;
  }

  ion-toolbar ion-icon {
    font-size: 2em !important;
  }

  .popoverItems {
    z-index: 10;
    position: absolute;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-x: scroll;
    border-top: 2px solid #e63e4d;

    div {
      img {
        position: initial;
        max-width: 200px!important;
        flex: 0 0 auto;
        margin: 15px;
      }
      img.person{
        max-width: 35px!important;
      }
      img.mood {
        max-width: 70px!important;
      }
      img.item {
        max-width: 100px!important;
      }


      // Customized single item sizes in popover
      img.person[src*="old_man"]{
        max-width: 42px!important;
        border: 0;
      }
      img.person[src*="asian_man"]{
        max-width: 42px!important;
        border: 0;
      }
      img.person[src*="caucasis_woman"]{
        max-width: 37px!important;
        border: 0;
      }
      img.person[src*="teen"]{
        max-width: 32px!important;
        border: 0;
      }
      img.person[src*="boy"]{
        max-width: 28px!important;
        border: 0;
      }
      img.person[src*="girl"]{
        max-width: 28px!important;
        border: 0;
      }
      img.person[src*="afro_girl"]{
        max-width: 38px!important;
        border: 0;
      }
      img.person[src*="baby"]{
        max-width: 58px!important;
        border: 0;
      }


      img.item[src*="action_man"] {
        max-width: 75px!important;
        border: 0;
      }
      img.item[src*="chair"]{
        max-width: 75px!important;
      }
      img.item[src*="arm_chair"]{
        max-width: 100px!important;
      }
      img.item[src*="bike"]{
        max-width: 160px!important;
      }
      img.item[src*="bird"]{
        max-width: 140px!important;
      }
      img.item[src*="bookcase"]{
        max-width: 170px!important;
      }
      img.item[src*="bte"]{
        max-width: 80px!important;
      }
      img.item[src*="bed"]{
        max-width: 150px!important;
      }
      img.item[src*="bus"]{
        max-width: 190px!important;
      }
      img.item[src*="car"]{
        max-width: 170px!important;
      }
      img.item[src*="cat"]{
        max-width: 65px!important;
      }
      img.item[src*="cochlear_implants"]{
        max-width: 80px!important;
      }
      img.item[src*="consol"]{
        max-width: 70px!important;
      }
      img.item[src*="dog"]{
        max-width: 65px!important;
      }
      img.item[src*="doll"]{
        max-width: 85px!important;
      }
      img.item[src*="electric_piano"]{
        max-width: 250px!important;
      }
      img.item[src*="flatscreen"]{
        max-width: 200px!important;
      }
      img.item[src*="ketched"]{
        max-width: 50px!important;
      }
      img.item[src*="kort"]{
        max-width: 100px!important;
      }
      img.item[src*="lego"]{
        max-width: 70px!important;
      }
      img.item[src*="large_table"]{
        max-width: 130px!important;
      }
      img.item[src*="mask_and_snorke"]{
        max-width: 160px!important;
      }
      img.item[src*="microphone"]{
        max-width: 25px!important;
      }
      img.item[src*="mobile"]{
        max-width: 60px!important;
      }
      img.item[src*="mp3"]{
        max-width: 70px!important;
      }
      img.item[src*="radio_cd"]{
        max-width: 170px!important;
      }
      img.item[src*="science_lab"]{
        max-width: 80px!important;
      }
      img.item[src*="sofa"]{
        max-width: 170px!important;
      }
      img.item[src*="skateboard"]{
        max-width: 170px!important;
      }
      img.item[src*="table"]{
        max-width: 130px!important;
      }
      img.item[src*="terningsspil"]{
        max-width: 150px!important;
      }
      img.item[src*="tortois"]{
        max-width: 170px!important;
      }
      img.item[src*="train"]{
        max-width: 180px!important;
        border: 0;
      }
    }
  }

  ion-content {
    background-color: #fff;
    background-repeat: no-repeat;

    .iconQuestionmark {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 10px 20px;
      font-size: 1.5em;
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
    }

  }

  .no-scroll .scroll-content{
    overflow-y: hidden;
  }

  .scroll .scroll-content{
    overflow-y: scroll;
  }

  .situationItems .background {
    // background-color: #fff;
    // width: 100%;
    // // max-height: 100%;
    // z-index: -1;
    // margin-top: 0;
  }

  .item {
    contain: initial!important;
  }

  .situationItems .person,
  .situationItems .mood,
  .situationItems .item,
  .situationItems .avatar {

    position: absolute!important;
    min-height: 0;
    background-color: transparent;

    // Icons: delete and rotate
    .delete,
    .rotate {
      position: absolute;
      bottom: 0;
      font-size: 2.5em;
    }

    img.avatar {
      max-width: 40px;
    }
    img.person {
      max-width: 40px;
    }
    img.mood {
      max-width: 50px;
    }
    img.item {
      max-width: 80px;
    }

    // Customized single item sizes in situation

    img.person[src*="old_man"] {
      max-width: 48px!important;
      border: 0;
    }

    img.person[src*="asian_man"] {
      max-width: 48px!important;
      border: 0;
    }

    img.person[src*="caucasis_woman"] {
      max-width: 43px!important;
      border: 0;
    }

    img.person[src*="teen"] {
      max-width: 32px!important;
      border: 0;
    }

    img.avatar[src*="boy"],
    img.person[src*="boy"] {
      max-width: 31px!important;
      border: 0;
    }

    img.avatar[src*="girl"],
    img.person[src*="girl"] {
      max-width: 31px!important;
      border: 0;
    }

    img.avatar[src*="afro_girl"],
    img.person[src*="afro_girl"] {
      max-width: 38px!important;
      border: 0;
    }

    img.person[src*="baby"] {
      max-width: 58px!important;
      border: 0;
    }

    img.item[src*="action_man"]{
      max-width: 50px!important;
    }
    img.item[src*="baseball_mit"]{
      max-width: 60px!important;
    }
    img.item[src*="bookcase"]{
      max-width: 180px!important;
    }
    img.item[src*="bed"]{
      max-width: 180px!important;
    }
    img.item[src*="bike"]{
      max-width: 140px!important;
    }
    img.item[src*="bte"]{
      max-width: 50px!important;
    }
    img.item[src*="bus"]{
      max-width: 220px!important;
    }
    img.item[src*="car"]{
      max-width: 150px!important;
    }
    img.item[src*="cat"]{
      max-width: 50px!important;
    }
    img.item[src*="chair"]{
      max-width: 60px!important;
    }
    img.item[src*="cochlear_implants"]{
      max-width: 60px!important;
    }
    img.item[src*="consol"]{
      max-width: 60px!important;
    }
    img.item[src*="dog"]{
      max-width: 60px!important;
    }
    img.item[src*="doll"]{
      max-width: 60px!important;
    }
    img.item[src*="arm_chair"]{
      max-width: 80px!important;
    }
    img.item[src*="flatscreen"]{
      max-width: 120px!important;
    }
    img.item[src*="fodbold"]{
      max-width: 50px!important;
    }
    img.item[src*="horse"]{
      max-width: 100px!important;
    }
    img.item[src*="ketched"]{
      max-width: 50px!important;
    }
    img.item[src*="laptop"]{
      max-width: 60px!important;
    }
    img.item[src*="lego"]{
      max-width: 50px!important;
    }
    img.item[src*="table"]{
      max-width: 140px!important;
    }
    img.item[src*="small_table"]{
      max-width: 100px!important;
    }
    img.item[src*="large_table"]{
      max-width: 180px!important;
    }
    img.item[src*="microphone"]{
      max-width: 30px!important;
    }
    img.item[src*="mobile"]{
      max-width: 40px!important;
    }
    img.item[src*="mp3"]{
      max-width: 45px!important;
    }
    img.item[src*="science_lab"]{
      max-width: 60px!important;
    }
    img.item[src*="sofa"]{
      max-width: 150px!important;
    }
    img.item[src*="train"]{
      max-width: 220px!important;
    }

  }

}
