<ion-header>
  <ion-navbar>

    <ion-title>{{currentSituation.name}} situation</ion-title>

  </ion-navbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-buttons>
            <button (click)="backgroundsPopover()" light><ion-icon name="image" danger></ion-icon>Environments</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="personsPopover()" light><ion-icon name="person" danger></ion-icon>Persons</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="moodsPopover()" light><ion-icon name="happy" danger></ion-icon>Moods</button>
          </ion-buttons>
        </ion-col>

        <ion-col>
          <ion-buttons>
            <button (click)="itemsPopover()" light><ion-icon name="football" danger></ion-icon>Items</button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>




</ion-header>


<ion-content isScrolling="false" cache-view="false" (touchmove)="moveDragOver(item, $event)" (touchend)="moveDrop(item, $event)" (click)="closePopup()">

  <ion-list *ngIf="togglePopover==true" class="popoverItems">

    <img *ngFor="let popItem of popoverItems" [class]="popItem.category" [src]="popItem.imgUrl" (touchstart)="moveStart(popItem, $event)" (touchmove)="moveDragOver(popItem, $event)" (touchend)="addToSituation(popItem, currentSituation, $event)" />

  </ion-list>


  <div class="situationItems">
    <div *ngFor="let item of sceneItems" [class]="item.category" (touchstart)="moveStart(item, $event)" (dblclick)="makeActive($event)" [style.top]="item.y + 'px'" [style.left]="item.x + 'px'">

      <ion-icon *ngIf="isActive === true" (click)="removeItemFromScene(item)" name="close" role="img" class="ion-ios-close item-icon" aria-label="close" ng-reflect-name="close" danger [id]="item.id"></ion-icon>

      <img [src]="item.imgUrl" [id]="item.id" [class]="item.category" />

    </div>
  </div>


  <!-- (mousedown)="startInterval()" (mouseup)="makeUnactive()"-->


</ion-content>
