page-mainframe {

  // .btnTrash {
  //   margin-right: 1%;
  // }

  ion-toolbar .toolbar-background {
    background-color: #fff;
    border-top: 0;
  }

  .tabbar.show-tabbar {
    display: none;
  }

   button.btnPregenerate {
    background-color: #0098AA!important;

      span {
        text-transform: none;
      }  
  }

  .popoverItems {
    z-index: 10;
    position: absolute;
    background-color: #fff;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    border-top: 2px solid #e63e4d;

    div {
      align-self: baseline;

      img {
        position: initial;
        max-width: 200px!important;
        flex: 0 0 auto;
        margin: 15px;
      }
      img.background{
        max-width: 150px!important;
      }
      img.person{
        max-width: 30px!important;
      }
      img.mood{
        max-width: 50px!important;
      }
      img.item{
        max-width: 100px!important;
      }
      img.item[src*="action_man"]{
        max-width: 75px!important;
        border: 0;
      }
      img.item[src*="chair"]{
        max-width: 75px!important;
      }
      img.item[src*="arm_chair"]{
        max-width: 100px!important;
      }
      img.item[src*="bike"]{
        max-width: 160px!important;
      }
      img.item[src*="bird"]{
        max-width: 140px!important;
      }
      img.item[src*="bookcase"]{
        max-width: 170px!important;
      }
      img.item[src*="bte"]{
        max-width: 80px!important;
      }
      img.item[src*="bed"]{
        max-width: 150px!important;
      }
      img.item[src*="bus"]{
        max-width: 190px!important;
      }
      img.item[src*="car"]{
        max-width: 170px!important;
      }
      img.item[src*="cat"]{
        max-width: 65px!important;
      }
      img.item[src*="cochlear_implants"]{
        max-width: 80px!important;
      }
      img.item[src*="consol"]{
        max-width: 70px!important;
      }
      img.item[src*="dog"]{
        max-width: 65px!important;
      }
      img.item[src*="doll"]{
        max-width: 85px!important;
      }
      img.item[src*="electric_piano"]{
        max-width: 250px!important;
      }
      img.item[src*="flatscreen"]{
        max-width: 200px!important;
      }
      img.item[src*="ketched"]{
        max-width: 50px!important;
      }
      img.item[src*="kort"]{
        max-width: 100px!important;
      }
      img.item[src*="lego"]{
        max-width: 70px!important;
      }
      img.item[src*="large_table"]{
        max-width: 130px!important;
      }
      img.item[src*="mask_and_snorke"]{
        max-width: 160px!important;
      }
      img.item[src*="microphone"]{
        max-width: 25px!important;
      }
      img.item[src*="mobile"]{
        max-width: 60px!important;
      }
      img.item[src*="mp3"]{
        max-width: 70px!important;
      }
      img.item[src*="radio_cd"]{
        max-width: 170px!important;
      }
      img.item[src*="science_lab"]{
        max-width: 80px!important;
      }
      img.item[src*="sofa"]{
        max-width: 170px!important;
      }
      img.item[src*="skateboard"]{
        max-width: 170px!important;
      }
      img.item[src*="table"]{
        max-width: 130px!important;
      }
      img.item[src*="terningsspil"]{
        max-width: 150px!important;
      }
      img.item[src*="tortois"]{
        max-width: 170px!important;
      }
      img.item[src*="train"]{
        max-width: 180px!important;
        border: 0;
      }
    }
  }

  ion-content {
    background-repeat: no-repeat;
  }

  .scroll-content{
    margin-bottom: 0px;
  }

  .no-scroll .scroll-content{
    overflow-y: hidden;
  }

  .scroll .scroll-content{
    overflow-y: scroll;
  }

  .background {
    overflow: hidden!important;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    margin-top: 0;
  }

  .item {
    contain: initial!important;
  }

  .situationItems .person, .situationItems .mood, .situationItems .item {
    position: absolute!important;
    overflow: visible;
    min-height: 0;
    background-color: transparent;

    .ion-ios-close {
      position: absolute;
      bottom: -10px;
      right: -10px;
      font-size: 36px;
      z-index: 5;
    }
    .person {
      max-width: 30px;
    }
    .mood {
      max-width: 50px;
    }
    .item {
      transition-duration: initial;
      max-width: 80px;
    }
    img.item[src*="action_man"]{
      max-width: 50px!important;
    }
    img.item[src*="baseball_mit"]{
      max-width: 60px!important;
    }
    img.item[src*="bookcase"]{
      max-width: 180px!important;
    }
    img.item[src*="bed"]{
      max-width: 180px!important;
    }
    img.item[src*="bike"]{
      max-width: 140px!important;
    }
    img.item[src*="bte"]{
      max-width: 50px!important;
    }
    img.item[src*="bus"]{
      max-width: 220px!important;
    }
    img.item[src*="car"]{
      max-width: 150px!important;
    }
    img.item[src*="cat"]{
      max-width: 50px!important;
    }
    img.item[src*="chair"]{
      max-width: 60px!important;
    }
    img.item[src*="cochlear_implants"]{
      max-width: 60px!important;
    }
    img.item[src*="consol"]{
      max-width: 60px!important;
    }
    img.item[src*="dog"]{
      max-width: 60px!important;
    }
    img.item[src*="doll"]{
      max-width: 60px!important;
    }
    img.item[src*="arm_chair"]{
      max-width: 80px!important;
    }
    img.item[src*="flatscreen"]{
      max-width: 120px!important;
    }
    img.item[src*="fodbold"]{
      max-width: 50px!important;
    }
    img.item[src*="horse"]{
      max-width: 100px!important;
    }
    img.item[src*="ketched"]{
      max-width: 50px!important;
    }
    img.item[src*="laptop"]{
      max-width: 60px!important;
    }
    img.item[src*="lego"]{
      max-width: 50px!important;
    }
    img.item[src*="table"]{
      max-width: 120px!important;
    }
    img.item[src*="microphone"]{
      max-width: 30px!important;
    }
    img.item[src*="mobile"]{
      max-width: 40px!important;
    }
    img.item[src*="mp3"]{
      max-width: 45px!important;
    }
    img.item[src*="science_lab"]{
      max-width: 60px!important;
    }
    img.item[src*="sofa"]{
      max-width: 150px!important;
    }
    img.item[src*="train"]{
      max-width: 220px!important;
    }

  }

}
