<ion-header>
  <ion-navbar>

    <p class="action" text-center [@slowFading]>{{ getAction() }}</p>

    <ion-buttons right>

      <button ion-button padding
        (click)="enableDeletion()" class="toolbarBtn">
        <ion-icon name="close-circle"></ion-icon>
      </button>

      <button ion-button padding
        (click)="enableRotation()" class="toolbarBtn">
        <ion-icon name="undo"></ion-icon>
      </button>

      <button ion-button padding
        (click)="presentNotesModal()" class="toolbarBtn">
        <ion-icon name="create"></ion-icon>
      </button>

      <button ion-button padding
        [hidden]="currentEnvironment.items.length > 1"
        (click)="pregenerateItems()" class="toolbarBtn">
        Pregenerate items
      </button>

    </ion-buttons>

  </ion-navbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col (click)="togglePopover('Person', $event)">
          <ion-buttons>
            <button ion-button color="light">
              <ion-icon padding name="person" color="IDATurquoise"></ion-icon>
              Add Person
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col (click)="togglePopover('Mood', $event)">
          <ion-buttons>
            <button ion-button color="light">
              <ion-icon padding name="happy" color="IDATurquoise"></ion-icon>
              Add Mood
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col (click)="togglePopover('Item', $event)">
          <ion-buttons>
            <button ion-button color="light">
              <ion-icon padding name="football" color="IDATurquoise"></ion-icon>
              Add Item
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>


   <ion-list *ngIf="togglePersons" [ngClass]="animationPopoverClasses" [@slowFading]>
    <div *ngFor="let popItem of db.C.PERSONS" >
      <img [src]="'assets/img/' + popItem.category + popItem.imgUrl"
        [class]="popItem.category"
        (touchstart)="moveStart(popItem, $event)"
        (touchmove)="moveDragOver(popItem, $event)"
        (touchend)="addToSituation(popItem, $event)"
        (press)="addToSituationToDefaultPosition(popItem, $event)"
        [style.left]="popItem.x + 'px'"
        [style.top]="popItem.y + 'px'" />
    </div>
  </ion-list>


   <ion-list *ngIf="toggleMoods" [ngClass]="animationPopoverClasses" [@slowFading]>
    <div *ngFor="let popItem of db.C.MOODS">
      <img [src]="'assets/img/' + popItem.category + popItem.imgUrl"
        [class]="popItem.category"
        (touchstart)="moveStart(popItem, $event)"
        (touchmove)="moveDragOver(popItem, $event)"
        (touchend)="addToSituation(popItem, $event)"
        (press)="addToSituationToDefaultPosition(popItem, $event)"
        [style.left]="popItem.x + 'px'"
        [style.top]="popItem.y + 'px'"/>
    </div>
  </ion-list>


  <ion-list *ngIf="toggleItems" [ngClass]="animationPopoverClasses" [@slowFading]>
    <div *ngFor="let popItem of db.C.ITEMS">
      <img [src]="'assets/img/' + popItem.category + popItem.imgUrl"
        [class]="popItem.category"
        (touchstart)="moveStart(popItem, $event)"
        (touchmove)="moveDragOver(popItem, $event)"
        (touchend)="addToSituation(popItem, $event)"
        (press)="addToSituationToDefaultPosition(popItem, $event)"
        [style.left]="popItem.x + 'px'"
        [style.top]="popItem.y + 'px'"/>
    </div>
  </ion-list>


</ion-header>



<ion-content no-bounce fullscreen
  [class]="allowScroll"
  (click)="closePopup()"
  >
   <div class="situationItems"
    [ngStyle]="{
        'background': '#fff url(assets/img/background' + currentEnvironment.backgroundUrl + ') no-repeat left top / contain',
        'width': '100vw',
        'height': '100vh',
        'overflow-y': 'scroll',
        'z-index': '-1'
    }">

    <div *ngFor="let item of currentEnvironment.items"
      [class]="item.category"
      (touchstart)="moveStart(item, $event)"
      (touchmove)="moveDragOver(item, $event)"
      (touchend)="moveDrop(item, $event)"
      [style.left]="item.x + 'px'"
      [style.top]="item.y + 'px'"
      [style.transform]="'rotate(' + item.rotationAngle + 'deg)'">

      <ion-icon name="close-circle" color="danger"
        *ngIf="allowDeletion && (item.category !== 'avatar')"
        (click)="removeItemFromScene(item)" class="delete"
        >
      </ion-icon>

      <ion-icon name="redo" color="IDATurquoise"
        *ngIf="allowRotation && (item.category !== 'mood')"
        (click)="rotateItem(item)" class="rotate"
        >
      </ion-icon>

      <img [src]="'assets/img/' + item.category + item.imgUrl"
        [class]="item.category"/>

    </div>

  </div>

  <div class="iconQuestionmark" (click)="prompQuestions($event)">
    Conversation <br> starters
  </div>

</ion-content>
